<% if @article.errors.any? %>
 <div class="columns">
  <div class="column is-8 column is-offset-2">
   <div class="panel is-danger">
    <div class="heading">
     <h2 class="title">
      <%= pluralize(@article.errors.count, "error") %>
      prohibited this article from being saved:
     </h2>
     <div class="panel-body">
      <ul>
       <% @article.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
       <% end %>
      </ul>
     </div>
    </div>
   </div>
  </div>
 </div>
<% end %>

<div class="columns">
 <div class="column is-12">
  <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="form is-grouped">
   <div class="label column is-2">
    <%= f.label :title %>
   </div>
   <div class="column is-6">
    <%= f.text_field :title, class: "control", placeholder: "Title of article", autofocus: true %>
   </div>
  </div>
  <div class="form is-grouped">
   <div class="label column is-2">
    <%= f.label :description %>
   </div>
   <div class="column is-6">
    <%= f.text_area :description, rows: 10, class: "control", placeholder: "Body of article" %>
   </div>
  </div>
  <div class="form is-grouped">
   <div class="column is-10">
    <%= f.submit class: 'button is-primary is-large' %>
   </div>
  </div><% end %>
 </div>
</div>